<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="As someone who has worked on project teams in the past, I understand the value of having a go to place to keep all online resources. I created Squares to fill that need.">
        <meta name="author" content="Jesse Shaw">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#FC4A1A">
        <meta property="og:title" content="Squares">
        <meta property="og:url" content="http://squaresapp.herokuapp.com/">
        <meta property="og:description" content="As someone who has worked on project teams in the past, I understand the value of having a go to place to keep all online resources. I created Squares to fill that need.">
        <meta name="title" content="Squares">
        <meta name="description" content="As someone who has worked on project teams in the past, I understand the value of having a go to place to keep all online resources. I created Squares to fill that need.">
        <meta property="og:image" content="http://squaresapp.herokuapp.com/Images/Banner3.jpg">
        <meta name="twitter:description" content="As someone who has worked on project teams in the past, I understand the value of having a go to place to keep all online resources. I created Squares to fill that need.">
        <meta name="twitter:image" content="http://squaresapp.herokuapp.com/Images/Banner3.jpg">
        <title>Squares - Your projects resource storage database</title>
        <!--Font Awesome-->
        <script src="https://use.fontawesome.com/568687e6c4.js"></script>
        <script defer src="https://use.fontawesome.com/releases/[VERSION]/js/all.js"></script>
        <script defer src="https://use.fontawesome.com/releases/[VERSION]/js/v4-shims.js"></script>
        <!--Google Fonts-->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href="/index.css" rel="stylesheet" type="text/css" />
        <link rel="icon" type="image/png" href="/myicon.png">
    </head>
    <body id="page-top">
        <main>
        <!--Header-->
        <section class="small-header">
        <%- smallheader%>
        </section>
        <!--masthead-->
        <section class="masthead">
        <%- masthead%>
        </section>
        <!--bg-primary-->
        <section class="bg-primary">
        <%- bgprimary%>
        </section>
        <!--login-->
        <%- login%>
        <!--register-->
        <%- register%>
        <!--Formsection Form-->
        <%- inputform%>
        <!--Readmore Form-->
        <%- readmore%>
        <!--Edit Form-->
        <%- editform%>
        <!--Grid-->
        <%- GridContent%>
        </div>
        </main>
        <!--Contact Section-->
        <section id="contact">
        <%- contact%>
        </section>
        <!--jQuery-->
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
         <!-- Masonry -->
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
        <script src="/index.js"></script>
    </body>
</html>